<mat-card>
    <h1>Add New Quiz</h1>
    <div class="container">
        <div class="class row">
            <div class="class col-md-10 offset-md-2">
              
                <form *ngIf="quizData" (ngSubmit)="updateData()">
                    <!-- title filed -->
                  <mat-form-field class="w100" appearance="fill">
                    <mat-label>Enter Title</mat-label>
                     <input [(ngModel)]="quizData.title"
                     type="text" name="title"  placeholder="Enter here" matInput/>
                  </mat-form-field>
                  <!-- description filed -->
                  <mat-form-field class="w100" appearance="fill">
                    <mat-label>Enter Description</mat-label>
                     <textarea [(ngModel)]="quizData.description"
                      name="description"  placeholder="Enter here" matInput rows="5"></textarea>
                  </mat-form-field>
                  <div class="row">
                    <div class="col-md-6">
                        <!-- max marks -->
                        <mat-form-field class="w100" appearance="fill">
                            <mat-label>Enter Max-Marks</mat-label>
                             <input [(ngModel)]="quizData.maxMarks"
                              type="text" name="Max-marks"  placeholder="Enter here" matInput/>
                          </mat-form-field>
                    </div>
                    <div class="col-md-6" >
                       <!-- number of questions -->
                       <mat-form-field class="w100" appearance="fill">
                        <mat-label>Enter Number of Questions</mat-label>
                         <input [(ngModel)]="quizData.numberOfQuestions"
                          type="text" name="numberOfQuestions"  placeholder="Enter here" matInput/>
                      </mat-form-field>
                    </div>
                  </div>

                  <!-- active filed -->
                  <mat-slide-toggle name="active"
                  [(ngModel)]="quizData.active"
                   class="example-margin"
                   color="accent"
                  >
                    Publish Status
                    </mat-slide-toggle>
                    <!-- category select -->
                   <mat-form-field class="ml20" appearance="fill">
                    <mat-label>Categories</mat-label>
                    <mat-select name="category" [(ngModel)]="quizData.category.id">
                        <mat-option *ngFor="let c of categories" [value]="c.id">
                            {{c.title}}
                        </mat-option>
                    </mat-select>
                   </mat-form-field>

                   <div class="class container text-center">
                    <button type="submit" mat-flat-button color="primary">Update</button>
                   </div>
                        
               
                </form>


            </div>

        </div>
    </div>
</mat-card>


