<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <mat-card>
                    
                <h2 class="text-center">Register Here</h2>
           
                <form (ngSubmit)="formSubmit()">
                    <!----username filed--->
                    <mat-form-field  class="full-width" appearance="outline">
                        <mat-label>Username</mat-label>
                        <input required [(ngModel)]="user.username" name="username"
                        matInput placeholder="Enter here">
                        <mat-hint>User name must be unique</mat-hint>
                      </mat-form-field>

                       <!----Password filed--->
                    <mat-form-field  class="full-width" appearance="outline">
                        <mat-label>Password</mat-label>
                        <input input type="password" required [(ngModel)]="user.password" name="Password"
                         matInput placeholder="Enter here">
                      </mat-form-field>

                       <!----Firstname filed--->
                    <mat-form-field  class="full-width" appearance="outline">
                        <mat-label>Firstname</mat-label>
                        <input input required [(ngModel)]="user.fname" name="fname"
                         matInput placeholder="Enter here">
                      </mat-form-field>

                       <!----Lastname filed--->
                    <mat-form-field  class="full-width" appearance="outline">
                        <mat-label>Lastname</mat-label>
                        <input input required [(ngModel)]="user.lname" name="lname"
                        matInput placeholder="Enter here">
                      </mat-form-field>

                       <!----Email filed--->
                    <mat-form-field  class="full-width" appearance="outline">
                        <mat-label>email</mat-label>
                        <input input required="" [(ngModel)]="user.email" name="----Email"
                        matInput placeholder="Enter here">
                      </mat-form-field>

                      <div class="container text-center">
                          <button type="submit" mat-raised-button color="primary">Register</button>
                          <button type="reset" style="margin-left: 20px;" mat-raised-button color="accent">Clear</button>
                      </div>
                </form>
            </mat-card>
            </div>
        </div>
    </div>
</div>
